img{
    width: 100px;
    height: 100px;
    margin: 30px 20px 78px 89px ;
    border: solid;
    border-color: antiquewhite yellowgreen hwb(0 96% 4%) orangered;
    border-radius: 0cm;
    padding:0.2cm;
 
}